.block1{
    color: blue;
    font-size: 4rem;
}

.tailleInput{
    width: 100%;
}

.btnSize{
    width: 100%;
    color: white;
}

.btnTaille{
    width: 20rem;
}

.fontStyle{
    font-style: italic; 
}

.fontColor{
    background-color: rgb(93, 93, 181);
    font-weight: bold;
}

.roundColor{
    border: 3px solid  rgb(93, 93, 181);
}